<h2 class="title">Entre em contato</h2>
<section class="contato-container">
    <form class="contact-form" [formGroup]="formContato" novalidate>
        <input 
            type="text" 
            placeholder="Informe o seu nome"
            formControlName="nome"
            [class.valid]="nome!.valid"
            [class.invalid]="nome!.invalid && (nome!.touched || nome!.dirty)"
        >
        <div *ngIf="nome!.invalid && (nome!.touched || nome!.dirty)">
            <small *ngIf="nome!.errors?.['required']">Nome é obrigatório.</small>
            <small *ngIf="nome!.errors?.['minlength']">Nome precisa ter pelo menos 4 caracteres.</small>
        </div>
        <input 
            type="text" 
            placeholder="Digite o assunto"
            formControlName="assunto"
            [class.valid]="assunto!.valid"
            [class.invalid]="assunto!.invalid && (assunto!.touched || assunto!.dirty)"
        >
        <div *ngIf="assunto!.invalid && (assunto!.touched || assunto!.dirty)">
            <small *ngIf="assunto!.errors?.['required']">Assunto é obrigatório.</small>
            <small *ngIf="assunto!.errors?.['minlength']">Assunto precisa ter pelo menos 10 caracteres.</small>
        </div>
        <input 
            type="tel" 
            placeholder="(00) 0 0000-0000"
            mask="(00) 0 0000-0000"
            formControlName="telefone"
            [class.valid]="telefone!.valid"
            [class.invalid]="telefone!.invalid && (telefone!.touched || telefone!.dirty)"
        >
        <div *ngIf="telefone!.invalid && (telefone!.touched || telefone!.dirty)">
            <small *ngIf="telefone!.errors?.['required']">Telefone é obrigatório.</small>
            <small *ngIf="telefone!.errors?.['minlength']">Telefone precisa ter pelo menos 11 caracteres.</small>
        </div>
        <input 
            type="email" 
            placeholder="Digite o seu email"
            formControlName="email"
            [class.valid]="email!.valid"
            [class.invalid]="email!.invalid && (email!.touched || email!.dirty)"
        >
        <div *ngIf="email!.invalid && (email!.touched || email!.dirty)">
            <small *ngIf="email!.errors?.['required']">Email é obrigatório.</small>
            <small *ngIf="email!.errors?.['email']">O campo não esá em formato de email.</small>
        </div>
        <textarea 
            maxlength="300" 
            rows="4"
            placeholder="Digite a sua mensagem..."
            formControlName="mensagem"
            [class.valid]="mensagem!.valid"
            [class.invalid]="mensagem!.invalid && (mensagem!.touched || mensagem!.dirty) ">
        </textarea>
        <div *ngIf="mensagem!.invalid && (mensagem!.touched || mensagem!.dirty)">
            <small *ngIf="mensagem!.errors?.['required']">Mensagem é obrigatório.</small>
            <small *ngIf="mensagem!.errors?.['minlength']">A mensagem precisa ter pelo menos 20 caracteres.</small>
        </div>
        <button type="submit" [disabled]="formContato.invalid" (ngSubmit)="enviarFormulario()">Enviar</button>
    </form>
    <address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3557.5750907897846!2d-49.0724960849549!3d-26.91697718312573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94df18c3b4a71d65%3A0xa5ec9dd8406a6a7!2sProWay!5e0!3m2!1sen!2sbr!4v1664158496505!5m2!1sen!2sbr" 
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p> R. 7 de Setembro, 1600 - 14º andar - Centro, Blumenau - SC, 89010-204</p>
    </address>
</section>