<section *ngIf="carrinho.length <= 0" class="empty-carrinho">
    <p>O Carrinho está vazio!</p>
    <i class="fa-regular fa-face-surprise"></i>
</section>
<section class="carrinho-container" *ngIf="carrinho.length > 0">
    <h2 class="carrinho-container__title">Carrinho</h2>
    <div *ngFor="let item of carrinho" class="carrinho__card">
        <img [src]="item.imagem">
        <p>{{item.descricao}}</p>
        <p>Preço: {{item.preco | currency: 'BRL'}}</p>
            <label>
                Quantidade: 
                <input type="number" min="1" 
                    [(ngModel)]="item.quantidade" 
                    [max]="item.quantidadeEstoque" 
                    (change)="atualizarQuantidadeDoItem(item)">
            </label>
        <button class="remove-item-button" (click)="removerDoCarrinho(item.id)"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <h2 class="carrinho-sum">Total: {{somarPrecoDosItens() | currency: 'BRL'}}</h2>
    <button class="item__buy-button" (click)="comprar()">Comprar</button>
    <div class="clean-button-container">
        <button (click)="limparCarrinho()" class="clean-button">
            Limpar Carrinho
            <i class="fa-solid fa-trash"></i>
        </button>
    </div>
</section>
